@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



.mainContent {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#title {
    display: flex;
    justify-content: center;
    padding-top: -2%;
    padding-bottom: 2%;
    font-family: 'Comfortaa', cursive;
}

.chartButtons {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

#button {
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid #9FE2BF;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

.chartMain {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#breakDown {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 5%;
}

#dry {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#cold {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 25%;
    padding-left: 25%;
}

#frozen {
    display: flex;
    justify-content: center;
    flex-direction: column;
}