@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



.mainContent {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#title {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    font-family: 'Comfortaa', cursive;
}

.chartButtons {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

#button {
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid #CBE896;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}