



#loginBody {
    display: flex;
    flex-direction: column;
}

#loginTitle {
    display: flex;
    font-size: 100px;
    justify-content: center;
    padding: 5%;

}

#split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #9FE2BF;
    border-bottom: 1px solid #9FE2BF;
}

#appDisc {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 5%;
}

#promptUser {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 5%;

}

#chartInfo {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#pageTail {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#noAcc {
    margin-left: 8%;
    padding-top: 8%;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

#signupForm {
    padding: 5%;
}

