@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.loginBody {
    display: flex;
    flex-direction: column;
}

#navSignUp {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    font-family: 'Comfortaa', cursive;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

#loginTitle {
    display: flex;
    font-size: 75px;
    justify-content: center;
    padding: 5%;
    font-family: 'Comfortaa', cursive;
}

#signinCard {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #9FE2BF;
    border-bottom: 1px solid #9FE2BF;
    background-image: url(../img/food8.jpg);

}

#discTitle {
    display: flex;
    justify-content: center;
}

.appDisc {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 5%;
    background-color: white;
    border-left: 1px solid #9FE2BF;
    border-right: 1px solid #9FE2BF;
}

#appDisc, h2 {
    margin-left: -5%;
    font-family: 'Comfortaa', cursive;

}

#promptUser {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 5%;
}

.chartInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chartInfo ,h2 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#chartInfo, img {
    display: flex;
    justify-content: center;
    width: 60vw;
    padding-bottom: 5%;

}

#noAcc {
    margin-left: 8%;
    padding-top: 8%;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

#signupForm {
    padding: 5%;
}

.footer {
    background-image: url(../img/food8.jpg);
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #9FE2BF;

}

.follow {
    display: flex;
    justify-content: center;
    padding: 3%;
}

#follow {
    color:  black;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    border: 1px solid #9FE2BF;
    font-size: 250%;
}

#foot-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#foot-links a {
    text-decoration: none;
    color:  black;
    font-size: 200%;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    border: 1px solid #9FE2BF;
    margin-left: 10%;
    margin-right: 10%;

}

