@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.welcomeBody {
    display: flex;
    flex-direction: column;
}

#welcomeTitle {
    display: flex;
    font-size: 75px;
    justify-content: center;
    padding: 5%;
    font-family: 'Comfortaa', cursive;
}

#startCard {
    display: flex;
    justify-content: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    max-width: 300px;
    max-height: 400px;
    border-radius: 5%;
    border-top: 3px solid #9FE2BF;
    border-bottom: 3px solid #9FE2BF;

}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #9FE2BF;
    border-bottom: 1px solid #9FE2BF;
    background-image: url(../img/food8.jpg);

}

#discTitle {
    display: flex;
    justify-content: center;
}

.appDisc {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 5%;
    background-color: white;
    border-left: 1px solid #9FE2BF;
    border-right: 1px solid #9FE2BF;
    font-family: 'Comfortaa', cursive;
}

#appDisc, h2 {
    margin-left: -5%;
    font-family: 'Comfortaa', cursive;
}

#promptUser {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 5%;
}

#startTitle {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
}

#startButton {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    margin-left: 21%;
    margin-top: 23%;
    padding: 20%;
    border: 1px solid #9FE2BF;
    font-family: 'Comfortaa', cursive;
}

.chartInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chartInfo ,h2 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#chartInfo, img {
    display: flex;
    justify-content: center;
    width: 60vw;
    padding-bottom: 5%;
}

#chartInfo, p {
    font-family: 'Comfortaa', cursive;
    padding-bottom: 5%;
}

.footer {
    background-image: url(../img/food8.jpg);
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #9FE2BF;

}

.contact {
    display: flex;
    justify-content: center;
    padding: 3%;
}

#contact {
    font-family: 'Comfortaa', cursive;
    color:  black;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    border: 1px solid #9FE2BF;
    font-size: 150%;
}

#foot-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#foot-links a {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color:  black;
    font-size: 150%;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    border: 1px solid #9FE2BF;
    margin-left: 10%;
    margin-right: 10%;

}

