@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.Footer {
    background-image: url(../img/food8.jpg);
    border-top: 3px solid #9FE2BF;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-bottom: 2%;
}

#foot-info {
    padding: 2%;
}