@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.backGround {
    background-image: url(../img/food8.jpg);
    padding-top: 6%;
    padding-bottom: 6%;
}

.updateBody {
    display: flex;
    justify-content: center;
}

.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
    border-top: 3px solid #9FE2BF;
    border-bottom: 3px solid #9FE2BF;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputGroup {
    width: 150%;
    
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#upButton {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    text-decoration: none;
}

#FoLabel {
    display: flex;
    justify-content: center;
}

#oops {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
    border-top: 3px solid #9FE2BF;
    border-bottom: 3px solid #9FE2BF;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}