.newItemBody {
    display: flex;
    justify-content: center;
}

#accordBody {
    width: 75%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#accordButton {
    width: 100%;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

#accordHead {
    display: flex;
    justify-content: center;
    background-color: white;
}

.submitList {
    padding: 2%;
    border-left: 3px solid #9FE2BF;

}