.quickBody {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 10%;
}

#quickButton {
    font-family: 'Comfortaa', cursive;
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}